//1.FONT
$font-heading: 'Quando', serif;
$font-heading-italicized: 'Cedarville Cursive', cursive;
$font-text: 'Lato', sans-serif;

$font-xxs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 15px;
$font-lg: 17px;
$font-xl: 25px;
$font-xxl: 42px;

// Custom OpenThreads colours
$color-ttc-beige-dark: #DDBEA9;
$color-ttc-beige-light: #F1E5E1;
$color-ttc-blue-light: #B6D0D2;
$color-ttc-blue-medium: #6FB1B6;
$color-ttc-blue-dark: #4A8489;
$color-ttc-grey-brown: #5D5A59;
$color-ttc-pink-light: #FFEEEE;
$color-ttc-pink-medium: #F8BBBC;
$color-ttc-pink-dark: #EC848B;

//2.COLOR
$color-brand: $color-ttc-blue-medium;
$color-brand-dark: $color-ttc-blue-dark;
$color-primary: $color-ttc-pink-dark;
$color-secondary: $color-ttc-beige-dark;
$color-warning: #ffb300;
$color-danger: #ff3551;
$color-success: $color-ttc-blue-medium;
$color-info: #18a1b7;
$color-text: #4f5d77;
$color-heading: #5D5A59;
$color-grey-1: #1a1a1a;
$color-grey-2: #242424;
$color-grey-4: #90908e;
$color-grey-9: #f4f5f9;
$color-muted: #8e8e90;
$color-body: #161c27;


$color-1: #fddde4;
$color-2: #cdebbc;
$color-3: #d1e8f2;
$color-4: #cdd4f8;
$color-5: #f6dbf6;
$color-6: #fff2e5;
$color-7: #d77f7a;
$color-8: #63a2c1;

$color-hot: #ff75a0;
$color-new: #99bbad;
$color-sale: #a1cae2;
$color-best: #ffab73;

//3.Boxshadow
$box-shadown-1: 0 4px 8px rgba(0, 0, 0, .09);
;
$box-shadown-2: 0 8px 16px rgba(0, 0, 0, 0.12);
$box-shadown-3: 20px 20px 54px rgba(0, 0, 0, 0.03);
$box-shadown-3-hover: 20px 20px 54px rgba(0, 0, 0, 0.05);


//4. Border
$border-color: #cce7d0;

